<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array/>
    <key>NSAppleMusicUsageDescription</key>
    <string>이 앱은 Apple Music 접근을 위해 권한이 필요합니다.</string>
</dict>
</plist>
